@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-50: #fdf2f8;
  --color-brand-100: #fce7f3;
  --color-brand-200: #fbcfe8;
  --color-brand-300: #f9a8d4;
  --color-brand-400: #d4548a;
  --color-brand-500: #c2427e;
  --color-brand-600: #9d316d;
  --color-brand-700: #86295c;
  --color-brand-800: #6d234c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.admin-theme {
  --color-brand-50: #f9fafb;
  --color-brand-100: #f3f4f6;
  --color-brand-200: #e5e7eb;
  --color-brand-300: #d1d5db;
  --color-brand-400: #6b7280;
  --color-brand-500: #6b7280;
  --color-brand-600: #4b5563;
  --color-brand-700: #374151;
  --color-brand-800: #1f2937;
}
